*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #f1f1f1;
	/*font-family: Arial, sans-serif;*/
	font-family: 'Open Sans',sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
}

button,
input{
	outline: 0;
}

@font-face {
    font-family: 'Open Sans'; /* Гарнитура шрифта */
    src: url(../fonts/open-sans.ttf); /* Путь к файлу со шрифтом */
}

.link {
	font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
/*    border-bottom: 1px solid #222;*/
    text-decoration: none;
    color: #222;
    word-spacing: 1.5px;
    display: inline;
}

.header{
	height: 10.5rem;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	position: relative;
}

.header__insert,
.main-page{
	margin: 0 auto;
	width: 73.688rem;
}

.header__insert:after{
	content: "";
	display: block;
	clear: both;
}

.logo{
	width: 9.063rem;
	height: 3.75rem;
	display: inline-block;
	margin: 1.375rem 0 0;
	vertical-align: top;
}



.nav-menu{
	width: 73.281rem;
	list-style: none;
	margin: 2.688rem auto 0;
	
}

.nav-menu__item{
	display: inline-block;
	font-size: 1.125rem;
	color: #adafb2;
}

.nav-menu__item:not(:first-child){
	margin: 0 0 0 2.563rem;
}

.nav-menu__item_active{
	 color: #ed1b2f;
}

.main-page{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	padding: 2.875rem 3.931rem 3.938rem;
	background: white;
	margin: 3.188rem auto;
	position: relative;
}

.h1{
	font-size: 1.375rem;
	color: #adafb2;
	display: inline-block;
}

.h1-custom{
	display: inline-block;
	margin: 1.375rem 0 0 3rem;
	height: 3.75rem;
	line-height: 3.75rem;
}
/*
.search-form__field {
	float: left;
}*/


.user-panel {
	margin-top: 24px;
	top: 82px;
	position: fixed;
	left: 0;
	right: 0;
	background: white;
	height: 61px;
	padding: 11px 0 0;
	z-index: 1;

	/*padding: 0 3.931rem;*/
}

.user-panel-fixed {
	box-shadow: 0px 1px 7px 0px #898e97;
}

.user-panel-wrapper {
	width: 73.281rem;
	margin: 0 auto;
	position: relative;
}

.user-cabinet,
.user-basket {
	float: right;
	position: relative;
	font-size: 14px;
	color: #788497;
}

.user-cabinet {
	margin-right: 60px; 

}

.user-cabinet:before,
.user-basket:before {
	content: "";
	width: 30px;
	height: 32px;
	display: block;
	position: absolute;
	left: -36px;
	top: 5px;
}

.user-cabinet:before {

	background: url("../images/header_profile-icon.png") no-repeat center;
}

.user-basket {

}

.user-basket:before {
	content: "";
	background: url("../images/header_cart-icon.png") no-repeat center;
}

.category-button,
.search-form {
	float: left;
}

.category-button {
	position: relative;
	padding: 11px 52px 10px 28px;
	letter-spacing: 0.2px;
	background: #ffffff;
	/*border: 1px solid red;*/
	border: 0;
	color: white;
	border-radius: 2px;
	background: linear-gradient(to bottom, #f7941e 0%, #f25e2e 100%);
}

.category-button:hover > .menu-wrapper > ul,
.category-button li.menu__item:hover > ul
{
	display: block;
}

.category-button:after {
	content: "≡";
	position: absolute;
	top: 2px;
	right: 8px;
	width: 36px;
	height: 14px;
	margin-left: 27px;
	font-size: 32px;
}



.menu {
	position: absolute;
	top: 39px;
	left: 0;
	display: none;
	width: 205px;
	/*padding: 10px 15px;*/
	box-shadow: 0px 0px 6px 0px #9f9f9f;
	background: white;
	/*background: lightgray;*/
	text-align: left;
	margin-right: 30px;
}

/*.menu:after {
	content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    top: 0;
    left: 205px;
    background: rgba(0,0,0, 0);
}*/

.menu__item {
	height: 30px;
    vertical-align: bottom;
    padding: 0 8px;
    font-size: 12px;
    color: #465359;
    line-height: 30px;
    display: block;
    position: relative;
}

/*.menu__item:after {
	content: '';
	display: block;
	width: 10px;
	position: absolute;
}*/

.menu__item:hover {
	background: #adafb2;
}

.menu__item:hover:after {
	display: inline-block;
}

.menu__item:after {
	display: none;
	content: '\203a';
    color: #8d9fb7;
    display: inline-block;
    position: absolute;
    font-size: 25px;
    line-height: 25px;
    right: -11px;
    top: 50%;
    margin-top: -16px;
    width: 24px;
    height: 100%;
}

.menu__item:hover .menu__link {
	color: white;
}

.menu__link {
	font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
   /* border-bottom: 1px solid #222;*/
    text-decoration: none;
    color: #222;
    word-spacing: 1.5px;
    display: inline;
}

.menu-embedded {
	display: none;
    padding: 13px 14px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px #9f9f9f;
    border: 1px solid #f0f0f0;
    min-width: 244px;
    position: absolute;
    top: 0;
    left: 210px;
}

.menu-embedded__subtitle {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.menu-embedded__item {
    font-size: 12px;
    color: #6a7b92;
    line-height: 22px;
    display: block;
}

.menu-embedded__link {

}

.search-form{
	/*width: 41.5rem;*/
}


.user-cabinet,
.user-basket {
	float: right;
	display: inline-block;
	height: 41px;
	line-height: 43px;
}

.search-form__field {
	padding: 11px 10px 10px;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 2px 3px 0 #e4e4e4;
	width: 490px;
	margin-left: 60px;
}

.search-form__submit {
	margin-left: -5px;
	padding: 11px 0 10px;
	width: 105px;
	background: linear-gradient(to bottom, #f7941e 0%, #f25e2e 100%);
	border: 0;
	color: white;
	height: 41px;
}

.main-page_header{
/*	float: left;*/
}

.application-package_button-back,
.application-package_button-next{
	position: absolute;
	border: 0;
	outline: 0;
	background: white;
	font-size: 2rem;
	top: 13rem;
}

.application-package_button-back{
	left: 2.625rem;
}

.application-package_button-next{
	right: 3.25rem;
}

.form-search{
	float: right;
}

.form-search__field-search{
	width: 14rem;
	height: 2rem;
	border-radius: 3.125rem;
	border: solid 1px #d9d9d9;
	font-size: 0.875rem;
	color: #c3c3c3;
	padding: 0.5rem 1.125rem;
	background: url("../images/loupe.svg") no-repeat 12.063rem center;
}


.application-package:before{
	content: "";
	display: block;
	height: 0.0625rem;
	background-color: #d8d8d8;
	margin: 0 0 1.625rem;
}

.application-package{
	clear: both;
	/*margin: 3.188rem 0 0;*/
}

.application-package__package{
	display: inline-block;
	margin-right: -0.25rem;
}

.application-package_button-back,
.application-package_button-next{
	position: absolute;
	border: 0;
	outline: 0;
	background: white;
	font-size: 2rem;
	top: 13rem;
}

.application-package_button-back{
	left: 2.625rem;
}

.application-package_button-next{
	right: 3.25rem;
}

.application-package__package:not(:first-child){
	margin-left: 2.131rem;
}

.application-package__image{
	width: 20.5rem;
	height: 12.313rem;
}

.application-package__header{
	margin: 1.063rem 0 0;
	font-size: 1.25rem;
	color: #32393d;
}

.application-package__date{
	font-size: 1rem;
	color: #adafb2;
	margin-top: 0.344rem;
}

.application-package-row {
	text-align: center;
	margin-bottom: 30px;
}

.application-package-row__item {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 5px;
}

.application-package-row__item-active {
	background: orange;
}

.new-products {
	/*margin: 3.188rem 0 0;*/
	margin-bottom: 30px;
}

.new-products:before {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: #d8d8d8;
    margin: 0 0 1.625rem;
}

.new-products__item {
	display: inline-block;
	padding: 14px 10px;
	width: 211px;
	/*margin-left: 20px;*/
	margin-left: -5px;
	border: 1px solid #d8d8d8;
	border-right: none;
	vertical-align: top;
}

.new-products__item:nth-child(5n) {
	border-right: 1px solid #d8d8d8;
}

.new-products .new-products__item:nth-of-type(5n+1) {
	margin: 0;
}

.new-products__link {
	/*text-align: center;*/
	margin-bottom: 8px;
}

.new-products__image {
	width: 100%;
	display: block;
	margin: 0 auto 18px;
}

.new-products__price{
	margin-bottom: 8px;
}

.rating-product{
	margin-bottom: 8px;
}

.rating-product__item {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url('../images/star-lightgray.svg') no-repeat center;
}

.rating-product__item:hover {

	background: url('../images/star-orange.svg') no-repeat center;
}

.add-in-basket-button {
	display: block;
	box-shadow: 0 1px 2px 0 #8e2d1e;
	background: linear-gradient(to bottom, #f7941e 0%, #f25e2e 100%);
	border: 0;
	color: white;
	margin: 0 auto;
	padding: 10px 20px;
}

.footer {
	background: white;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.08);
	height: 6rem;
}

.footer-wrapper {
	width: 73.688rem;
	margin: 0 auto;
}

.copyright {
	float: right;
}

.tree_link {
	color: #0b94ca;
	text-decoration: underline;
	margin-right: 20px;
	position: relative;
}

.tree_link:not(:last-child):before {
	content: '\203a';
    position: absolute;
    display: inline-block;
    top: 0px;
    right: -12px;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Open Sans',sans-serif;
    color: black;
}

.product__image {
	float: left;
	width: 430px;
}

.rating-reviews {
	float: right;
	width: 300px;
	margin: 0 40px 0 0;
}

.product__rating-product {
	display: inline-block;

}

.product-reviews .product__rating-product {
	margin: 30px 0 0;
}

.product__rating-item {
	background-size: 100%;
	width: 15px;
	height: 15px;
	background-position: 0 3px;
}

.rating-product__item:hover {
	background-size: 100%;
	/*background: url('../images/star-orange.svg') no-repeat center ;*/
}

.rating-reviews__reviews {
	display: inline-block;
	font-size: 12px;
    font-weight: bold;
    color: #788497;
    border-bottom: 2px solid #f7941e;
    padding: 2px 0;
}

.block-price {
	margin: 30px 0 0;
	width: 252px;
	padding: 19px 24px;
	border: 1px solid #e5e5e5;
}

.new-products__price_s {
	font-size: 22px;
	text-align: center;
}

.new-products__price_price {
	font-size: 30px;
	font-weight: bold;
}

.product-panel {
	margin: 36px 0 0;
	border-bottom: 2px solid #e5e5e5;
	height: 45px;
}

.product-panel__item {
	color: #606f83;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    margin-right: -5px;
    padding: 10px 27px;

}

.h1-custom {
	display: block;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

.text {
	font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    color: #222;
}

.product-panel__item:hover {
	border-bottom: 2px solid #f7941e;
}

.product-description{
	margin: 25px 0 0;
	text-align: justify;
}

.product-options {
	margin: 25px 0 0;
	padding: 25px 0 0;
	border-top: 2px solid #e5e5e5;
	width: 480px;
}

.product-reviews,
.product-question-answer {
	margin-top: 30px;
}


.h2 {
	font-size: 24px;
}

.product-options__description {
	margin: 20px 0 20px;
}

.h3 {
	font-size: 19px;
	margin: 40px 0 0;
}

.product-options__option,
.product-options__space,
.product-options__value{
	display: inline-block;
}

.product-options__item {
	height: 28px;
}

.product-options__option {

}

.product-options__space {
	border-bottom: 1px solid #e5e5e5;
	width: 133px;
}

.product-options__value {

}

.product-reviews__name {
    font-weight: 700;
    color: #000;
}

.product-reviews__date {
	color: #606f83;
	font-size: 12px;
}

.product-reviews__city {
	margin-left: 20px;
	color: #7c7f78;
}

.hand {

}

.hand__up,
.hand__down,
.hand__rating {
	display: inline-block;
}

.hand__up {
	width: 18px;
	height: 18px;
	background: url('../images/hand_up.png') no-repeat center;
}

.hand__down {
	width: 18px;
	height: 18px;
	background: url('../images/hand_down.png') no-repeat center;
}

.hand__rating {
	font-size: 13px;
}

.product-options__author {
	vertical-align: top;
}

.product-options__icon-user-gray {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../images/user-icon-gray.png') no-repeat center;
}

.roduct-options__answer {
	margin-left: 50px;
	position: relative;
}

.roduct-options__answer:before {
	content: '';
	display: block;
	width: 21px;
	height: 18px;
	position: absolute;
	background: url('../images/arrow-answer.jpg') no-repeat center;
	top: 3px;
	left: -28px;
}

.product-options__icon-user-black {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../images/user-icon.jpg') no-repeat center;
}


.category {
	margin-top: 30px;
}

.category__category {
	width: 263px;
	height: 216px;
	border: 1px solid #e5e5e5;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
}

.category__image {
	width: 190px;
	height: 165px;
	display: block;
	margin: 12px auto 0;
}

.category__link {
	text-decoration: underline;
	margin: 10px 0 0 60px;
	display: inline-block;
}

/*dinamic*/
.wrapper-form-autorization {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

 .form-autorization {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	width: 346px;
 	height: 312px;
 	background: white;
 	margin: -156px 0 0 -173px;
 	border-radius: 12px; 
 	padding: 25px;
 }

.form-autorization__header {
	font-size: 18px;
 }

.form-autorization__information {
	font-size: 13px;
	margin: 5px 0 25px 0;
 }

.form-autorization__login,
.form-autorization__password {
	border-radius: 5px;
    height: 32px;
    width: 293px;
    padding: 18px 10px;
    display: block;
    margin: 0 0 13px;
    border: 1px solid #f7941e;
}

.form-autorization__login {

}

.form-autorization__password {

}

.form-autorization__button {
	display: block;
    background: linear-gradient(to bottom, #f7941e 0%, #f25e2e 100%);
    padding: 10px 44px;
    border: 0;
    margin: 28px auto 0;
    color: white;
}

.form-autorization__checkbox {

}

.form-autorization__checkbox-text {
	font-size: 12px;
	margin: 0 0 0 8px;
}

.form-autorization__recovery-password,
.form-autorization__registration {
	font-size: 12px;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
	margin-left: 50px;
}

.form-autorization__registration {
	margin: 5px auto 0;
    display: block;
    width: 77px;
}

.admin-menu__line {
	margin: 20px;
}
/*-------------------------------------------*/

/*---------------------------*/

.applications{
	margin-top: 3.994rem;
	display: inline-block;
	width: 30.3rem;
	vertical-align: top;
}

.applications_margin-left{
	margin-left: 2.619rem;
}

.application-package__title_two{
	float: none;
}

.application-package__title_two:after{
	content: "";
	display: inline-block;
	width: 0.5rem;
  	height: 0.813rem;
	background: url("../images/expand.svg") no-repeat 0 0;
	float: right;
	margin-right: 0.438rem;
}

.types-of-applications{
	margin-top: 1.2rem;
	width: inherit;
}

.types-of-applications:before{
	content: "";
	display: block;
	width: 30.3rem;
	height: 1px;
  	background-color: #d8d8d8;
  	margin-bottom: 2.806rem;
}

.types-of-applications__type:before{
	content: "";
	display: inline-block;
	width: 1.313rem;
	height: 0.938rem;
	vertical-align: top;
}

.types-of-applications__type_work-icon{
	background: url("../images/work-icon.svg") no-repeat 0 0;
}

.types-of-applications__type_education-icon{
	background: url("../images/education-icon.svg") no-repeat 0 0;
}

.types-of-applications__type:not(:first-child){
	margin-top: 1.794rem;
}

.types-of-applications__type{
	font-size: 1.25rem;
	color: #4d5762;
}

.types-of-applications__number{
	color: #adafb2;
	line-height: 1.5;
}

.types-of-applications__number_warning{
	color: #ed1b2f;
}

.types-of-applications__text{
	display: inline-block;
	margin-left: 1.063rem;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

/*

categories.html

*/

.wrapper-categories-tovar{
	width: 73.281em;
	margin: 0 auto;
	margin-top: 3.163rem;
	overflow: hidden;
}

.product-applications{
	float: left;
	width: 23.375rem;
	background: white;
	padding: 2.688rem 1.875rem 0 1.063rem;
	margin-bottom: -20000px;
	padding-bottom: 20000px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.product-applications__header{
	margin-left: 0.563rem;
	color: #32393d;
	font-size: 1.5rem;
}

.product-applications__header:after{
	content: "";
	display: block;
	height: 1px;
	background-color: #d8d8d8;
	width: 20.063rem;
	margin-top: 1.069rem;

}

.product-applications__menu{
	margin: 1.381rem 0 0 1.563rem;
	list-style: disc;
	line-height: 2;
	font-size: 1.25rem;
	color: #79878e;

}

.product-applications__link_active{
	color: #f13843;
	text-decoration: underline;
}

.content{
	width: 48.281rem;
	float: right;
	background: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	padding: 2.875rem 0;
}

.content__header{
	margin-left: 2.575rem;
}

.table-tovar{
	margin-top: 1.206rem;
	width: 48.32rem;
	border-collapse: collapse;
}

.table-tovar__string-headers{
	height: 2.188rem;
	background-color: #f1f1f1;	
}

.table-tovar__header{
	/*border: 1px solid black;*/
	font-size: 0.875rem;
	color: #414141;
	text-align: left;
	font-weight: normal;
}

.table-tovar__header:first-child{
	padding-left: 8.563rem; 
}

.table-tovar__string-cells{
	height: 5.063rem;
	padding: 0.625rem 0 0.625rem 2.188rem;
}

.table-tovar__string-cells:nth-child(2n+3){
	background-color: #f7f7f7;
}
/*.table-tovar__cell{
	border: 1px solid black;
}
*/
.table-tovar__image{
	width: 5rem;
	height: 3.75rem;

}

.table-tovar__time{
	font-size: 0.813rem;
	display: block;
	color: #adafb2;
}

.table-tovar__cell:first-child{
	width: 8.563rem;
	padding: 0 1.331rem 0 2.188rem;
	line-height: 0;
}

.table-tovar__cell:nth-child(2){
	width: 13rem;
	font-size: 1rem;
	color: #79878e;
}

.table-tovar__cell:nth-child(3){
	width: 14.25rem;
	font-size: 0.813rem;
	color: #5f5f5f;
}

.table-tovar__header:nth-child(3),
.table-tovar__cell:nth-child(4){
	text-align: left;
	padding: 0 0 0 5.875rem;
}

.table-tovar__cell:nth-child(4){
	font-size: 1.125rem;
	color: #5f5f5f;
}

.content_tovar-padding{
	padding-left: 2.125rem;
	padding-right: 2.575rem;
}

.content__header_tovar-margin{
	margin: 0 0 0 0.45rem;
}

.content__header_tovar-margin:after{
	content: "";
	display: block;
	width: 43.125rem;
	height: 1px;
	background-color: #d8d8d8;
	margin-top: 1.138rem;
}

.description{
	float: left;
	width: 24.563rem;
}

.date-published{
	display: block;
	margin-top: 1.443rem;
	font-size: 1rem;
	color: #adafb2;
}

.description-text{
	margin-top: 0.863rem;
	font-size: 1.25rem;
	color: #79878e;
	 line-height: 1.25;

}

.requirement{
	margin-top: 1rem;
}

.block-image-tovar{
	float: right;
	margin-top: 1.506rem;
	width: 15.688rem;
}

.image-tovar__image{
	width: 15.688rem;
	height: 11.76975rem;
	display: block;
}

.button-in-basket{
	display: block;
	height: 3rem;
	width: 13.938rem;
	margin: 1.175rem auto 0 auto;
	text-align: center;
	font-size: 1.25rem;
	color: #ed1b2f;
	border: solid 1px #ed1b2f;
	border-radius: 1.5rem;
	outline: 0;
	background: white;
	padding-top: 0.688rem;
}

.button-in-basket:hover{
	background: #ed1b2f;
	color: white;
}

.content__header_tovar-margin-two{
	margin: 2.188rem 0 0 0;
}

.list-main-functions{
	list-style: disc;
	margin: 2rem 0 0 1.9rem;
	font-size: 1.125rem;
	color: #4d5762;
	line-height: 1.72;

}

.list-main-functions_item{
	margin-bottom: 2rem;
}

.list-main-functions_item:last-child{
	margin: 0;
}